.app {
    width: 100%;
}

#login-nav-bar {
    width: 100%;
    margin: auto;
    height: 10%;
    text-align: left;
    color: white;
    font-size: 2em;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #4CAF50;
}
.title-log-login{
    margin-left: 20px;
    margin-top: 0;
}

.login {
    width: 31%;
    height: 20px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    margin-left: 34%;
    margin-right: 32%;
    border-radius: 50px;
}


.login-container {
    background-color: white;
    /*margin-top: 270px;*/
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 10px;
    height: 220px;
    border:black solid 1px;
    position: relative;
    top:270px;
}

.loginSubmit {
    background-color: #4CAF50;
    /* Green */
    /*font-size: 16px;*/
    font-size: 1.0vw;
    border: none;
    color: white;
    padding: 2% 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 37%;
    margin-right: 38%;
    margin-bottom: 20px;
}

.create-account-a{
    margin-left: 35%;
    font-size: 1.3vw;
}

.login-page-container {
    height:100vh;
    background-image: url('https://www.proceilingtiles.com/images/P/Cypress-Point-CA-08-003-001.jpg');
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    background-attachment: fixed;
}

.create-account-container{
    background-color: white;
    /*margin-top: 270px;*/
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 10px;
    height: 420px;
    border:black solid 1px;
    position: relative;
    top:200px;
}

.create-account-page-container{
    height:100vh;
    /*width:100%;*/
    background-image: url('https://www.proceilingtiles.com/images/P/Cypress-Point-CA-08-003-001.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    margin: 0;
}

#profile-body-container{
    color:white;
    background-image: url("https://cdn2.hubspot.net/hubfs/1883407/Imported_Blog_Media/14-web1-1.jpg?t=1485644052965");
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    background-attachment: fixed;
}

#profile-nav-buttons-ul{
    list-style-type: none;
    margin-top: 50px;
    float:right;
}
.profile-nav-button{
    margin-top: 20px;
    display: inline;
    text-decoration: none;
    padding: 8px 16px;
    background-color: white;
    margin-right:5px;
}
.profile-nav-button a{
    color:#4CAF50;
    text-decoration: none;
}
.profile-nav-button a:hover{
    text-decoration: none;
    border-bottom: solid 1px #4CAF50;
}
#profile-nav {
    width: 100%;
    margin: auto;
    height: 10%;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #4CAF50;
}
#profile-nav h1{
    margin: auto;
    margin-top:20px;
    float:left;
}
.headshot{
    margin-right;
    margin: auto;
    margin-top:20px;
    margin-left:5%;
    text-align: center;
    border-radius: 50%;
}
#profile-container{
    margin:auto;
    margin-top:76px;
    margin-left: 10%;
    margin-right: 10%;

}
#profile-container ul{
    margin:auto;
    list-style-type: none;
}
#profile-container li{
    margin:auto;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
}

.profile-bids{
    height:350px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #F9F9FA;
    border:solid 2px #B4B7C0;
}

.courseImage{
    border-radius: 5px;
}
.userInfor{
    text-align: center;
}

.update-profile{
    background-color: white;
    margin: auto;
    width:200px;
    border-radius: 10px;
    height: 250px;
    border:2px #B4B7C0 solid;
    float: right;
    margin-top: 20px;
}

.profile-inputs{
    width: 80%;
    height: 20px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
}

.profile-update-button{
    background-color: #4CAF50;
    /* Green */
    /*font-size: 16px;*/
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 32%;
    margin-right: 38%;
}

#main-nav{
    margin: auto;
    margin-top:20px;
    float:left;
}

#main-nav-buttons{
    list-style-type: none;
    margin-top: 50px;
    float:right;
}

#main-nav {
    width: 100%;
    margin: auto;
    height: 10%;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 15;
    background-color: #4CAF50;
}
#main-nav h1{
    margin: auto;
    margin-top:20px;
    float:left;
}

.main-nav-button{
    margin-top: 20px;
    display: inline;
    text-decoration: none;
    padding: 8px 16px;
    background-color: white;
    margin-right:5px;
}
.main-nav-button a{
    color:#4CAF50;
    text-decoration: none;
}
.main-nav-button a:hover{
    text-decoration: none;
    border-bottom: solid 1px #4CAF50;
}

#auction-body-container{
    margin:auto;
    position:relative;
    bottom:50px;
    margin-top: 100px;
    margin-left:10%;
    margin-right:10%;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 50px;
}
#auction-container{
    background-image: url('https://static1.squarespace.com/static/5436f6f4e4b07f1e91b331eb/t/557a259be4b028e09773e6ba/1434068393556/mlsouth.jpg?format=1500w');
    /*background-repeat: no-repeat;*/
    background-size:cover;
    background-attachment: fixed;
    padding-top: 100px;
}

.auction-bidding-box{
    float:right;
    border: 1px solid;
    margin:auto;
    width: 300px;
    margin-top:70px;
    background-color: #F9F9FA;
    border-radius: 10px;
    border: 2px #B4B7C0 solid;
    margin-right:10%;
}

#course-auction-bid-button{
    list-style-type: none;
}
#course-auction-bid-button li{
    display: inline-block;
}


.course-auction-bid-buttons a{
    background-color: #4CAF50;
    /*font-size: 1.0vw;*/
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid #4CAF50 1px;
    margin-right: 10px
}

.course-auction-bid-buttons a:hover{
    background-color: white;
    /*font-size: 1.0vw;*/
    border: none;
    color: #4CAF50;
    border: solid #4CAF50 1px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px
}

.course-auction-text{
    text-align: center;
    font-size: 15px;
}

#auction-image{
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 20px;
}

#auction-image:active{
    border-radius: 20px;
    width:50%;
    height: 500px;
    z-index: 10;
    position: relative;
    left: 25%;
}
.course-auction-description{

    margin:20px 10% 0% 10%;
}
